@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import "normalize.scss";

//local Foundation settings file. Copy it from git repo -> scss/foundation/_settings.scss near main .scss file. Then Uncomment the line below.
@import "settings";

@import "foundation/components/grid.scss";
// @import "foundation/components/accordion.scss";
// @import "foundation/components/alert-boxes.scss";
// @import "foundation/components/block-grid.scss";
// @import "foundation/components/breadcrumbs.scss";
// @import "foundation/components/button-groups.scss";
@import "foundation/components/buttons.scss";
// @import "foundation/components/clearing.scss";
// @import "foundation/components/dropdown.scss";
// @import "foundation/components/dropdown-buttons.scss";
// @import "foundation/components/flex-video.scss";
// @import "foundation/components/forms.scss";
// @import "foundation/components/icon-bar.scss";
// @import "foundation/components/inline-lists.scss";
// @import "foundation/components/joyride.scss";
// @import "foundation/components/keystrokes.scss";
// @import "foundation/components/labels.scss";
// @import "foundation/components/magellan.scss";
// @import "foundation/components/orbit.scss";
// @import "foundation/components/pagination.scss";
// @import "foundation/components/panels.scss";
// @import "foundation/components/pricing-tables.scss";
// @import "foundation/components/progress-bars.scss";
// @import "foundation/components/range-slider.scss";
// @import "foundation/components/reveal.scss";
@import "foundation/components/side-nav.scss";
// @import "foundation/components/split-buttons.scss";
// @import "foundation/components/sub-nav.scss";
@import "foundation/components/switches.scss";
// @import "foundation/components/tables.scss";
// @import "foundation/components/tabs.scss";
// @import "foundation/components/thumbs.scss";
// @import "foundation/components/tooltips.scss";
// @import "foundation/components/top-bar.scss";
@import "foundation/components/type.scss";
// @import "foundation/components/offcanvas.scss";
// @import "foundation/components/visibility.scss";



/* CSS declarations go here */

html, body {
	height: 100%;
}

.grid-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#page-container {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
}

#header {
	background-color: black;

	#logo {
		display: block;
		margin: 0 auto;
	}
}

.sidebar {
	background-color: dodgerblue;
	color: white;

	* {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
	ul {
		list-style-type: none;
	}

	div.switch label {
		margin-left: auto;
		margin-right: auto;
	}

	h3 {
		color: white;
	}
	#login-name-link, #login-sign-in-link {
		color: gold;
		font-weight: bold;
		font-size: 20px;
	}
}

.main-panel {
	.main-panel-bg {			
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;

		background-image: url('images/keyboard-background.png');
		background-size: cover;
		-webkit-filter: blur(6px) brightness(1.2) opacity(50%);
		-moz-filter: blur(6px) brightness(1.2);
		-o-filter: blur(6px) brightness(1.2);
		-ms-filter: blur(6px) brightness(1.2);
		filter: blur(6px) brightness(1.2);
	}

	.main-panel-content {
		padding: 10px;
	}
}

#graphics-area {
	margin-bottom: 10px;

	#health-bars {
		#left-bar {
			border-right: 1px solid black;
			.health-bar-remaining {
				position: absolute;
				right: 0;
			}
		}
		#right-bar {
			border-left: 1px solid black;
		}

		.health-bar-base {
			position: absolute;
			z-index: -1;
			height: 20px;
			width: 100%;
			background-color: red;
		}
		.health-bar-remaining {
			height: 20px;
			background-color: gold;
		}
	}

	#characters {
		#left-char {
			position: absolute;
			right: 3px;
		}

		@-webkit-keyframes goku-default {
			0%{	background-position: 0px 0px;    }
			100%{ background-position: 0px -621px;  }
		}
		.anim-default {
			background-image: url('images/goku_default.png');
			background-size: 99px;
			
			width: 99px;
			height: 207px;

			-webkit-animation-name: goku-default; 
			-webkit-animation-duration: 0.3s; 
			-webkit-animation-iteration-count: infinite; 
			-webkit-animation-direction: alternate;
			-webkit-animation-timing-function: steps(3);
		}

		@-webkit-keyframes goku-punch {
			0%{	background-position: 0px 0px;    }
			100%{ background-position: 0px -399px;  }
		}
		.anim-punch {
			background-image: url('images/goku_punch.png');
			background-size: 132px;
			
			width: 132px;
			height: 200px;

			-webkit-animation-name: goku-punch; 
			-webkit-animation-duration: 0.3s; 
			-webkit-animation-iteration-count: infinite; 
			-webkit-animation-direction: normal;
			-webkit-animation-timing-function: steps(2);
		}

		

		#right-char {
			margin-left: 3px;
			-ms-transform: rotateY(180deg); /* IE 9 */
			-webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
			transform: rotateY(180deg);
		}

	}
}

#challenge-area {
	background-color: white;
	padding: 5px;
	border: 1px solid black;
	border-radius: 3px;
}

#challenge-text {
	white-space: pre-line;
	margin: 0;
	font-size: 16px;
}

#challenge-history {
	color: lightgrey;
}

#challenge-current {
	color: blue;
}

#challenge-future {
	color: black;
}

.challenge-error {
	color: red;
}