@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import "normalize.scss";

//local Foundation settings file. Copy it from git repo -> scss/foundation/_settings.scss near main .scss file. Then Uncomment the line below.
@import "settings";

@import "foundation/components/grid.scss";
@import "foundation/components/accordion.scss";
@import "foundation/components/alert-boxes.scss";
@import "foundation/components/block-grid.scss";
@import "foundation/components/breadcrumbs.scss";
@import "foundation/components/button-groups.scss";
@import "foundation/components/buttons.scss";
@import "foundation/components/clearing.scss";
@import "foundation/components/dropdown.scss";
@import "foundation/components/dropdown-buttons.scss";
@import "foundation/components/flex-video.scss";
@import "foundation/components/forms.scss";
@import "foundation/components/icon-bar.scss";
@import "foundation/components/inline-lists.scss";
@import "foundation/components/joyride.scss";
@import "foundation/components/keystrokes.scss";
@import "foundation/components/labels.scss";
@import "foundation/components/magellan.scss";
@import "foundation/components/orbit.scss";
@import "foundation/components/pagination.scss";
@import "foundation/components/panels.scss";
@import "foundation/components/pricing-tables.scss";
@import "foundation/components/progress-bars.scss";
@import "foundation/components/range-slider.scss";
@import "foundation/components/reveal.scss";
@import "foundation/components/side-nav.scss";
@import "foundation/components/split-buttons.scss";
@import "foundation/components/sub-nav.scss";
@import "foundation/components/switches.scss";
@import "foundation/components/tables.scss";
@import "foundation/components/tabs.scss";
@import "foundation/components/thumbs.scss";
@import "foundation/components/tooltips.scss";
@import "foundation/components/top-bar.scss";
@import "foundation/components/type.scss";
@import "foundation/components/offcanvas.scss";
@import "foundation/components/visibility.scss";



/* CSS declarations go here */

html, body {
	height: 100%;
}

.grid-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#page-container {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
}

#header {
	background-color: black;

	#logo {
		display: block;
		margin: 0 auto;
	}
}

.sidebar {
	background-color: dodgerblue;
	color: white;
	// height: 100%;

	h3 {
		color: white;
	}
	#login-name-link, #login-sign-in-link {
		color: #FF3B26;
	}
}

.main-panel {
	.main-panel-bg {			
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;

		background-image: url('keyboard-background.png');
		background-size: cover;
		-webkit-filter: blur(6px) brightness(1.2) opacity(50%);
		-moz-filter: blur(6px) brightness(1.2);
		-o-filter: blur(6px) brightness(1.2);
		-ms-filter: blur(6px) brightness(1.2);
		filter: blur(6px) brightness(1.2);
	}

	.main-panel-content {
		padding: 10px;
	}
}


#challenge-area {
	background-color: white;
	padding: 5px;
	border: 1px solid black;
	border-radius: 3px;
}

#challenge-text {
	white-space: pre-line;
	margin: 0;
	// font-size: 20px;
}

#challenge-history {
	color: lightgrey;
}

#challenge-current {
	color: blue;
}

#challenge-future {
	color: black;
}

.challenge-error {
	color: red;
}