/* CSS declarations go here */

#challenge-text {
	white-space: pre-line;
	font-size: 20px;
}

#challenge-history {
	color: lightgrey;
}

#challenge-current {
	color: blue;
}

#challenge-future {
	color: black;
}

#challenge-error {
	color: red;
}
