<template name="gameUI">
	<div>
		{{#if isCountingDown}}
			{{> countDown}}
		{{else}}
			{{> graphicsArea}}

			{{#if isGameOver}}
				{{#if isWinner}}
					<h1 id="game-over-msg">YOU WIN!</h1>
				{{else}}
					{{#if isLoser}}
						<h1 id="game-over-msg">YOU LOSE!</h1>
					{{/if}}
				{{/if}}
			{{else}}
				<div id="challenge-area">
					<p id="challenge-text"><span id="challenge-history">{{{challengeHistory}}}</span><span id="challenge-current">{{challengeCurrent}}</span><span id="challenge-future">{{challengeFuture}}</span>
					</p>
				</div>
			{{/if}}

			<h3>Time Elapsed: {{timer}}</h3>
			{{#if isGameOver}}
				<h3>Characters Typed: {{totalCharCount}}</h3>
				<h3 id="accuracy">Accuracy: {{accuracy}}</h3>
				<h3>Words with Errors: {{errorWordCount}}</h3>
				<h3 id="wpm">Words Per Minute: {{wpm}}</h3>
				<button id="leave-game-button">Back to Lobby</button>
			{{/if}}
		{{/if}}

	</div>

	<audio class="fight-sound" src="audio/fight_sounds/punch_M_10.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/punch_l_05.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/punch_h_05.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/psh3.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/psh2.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/psh1.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/kick_M_05.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/kick_H_09.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/kick_H_08.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/indy_hit1.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/foot_swing_06.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/fist_swing_10.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/fist_swing_07.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/fall2.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/fall1.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/block_L_05.wav" muted={{isMuted}}></audio>
	<audio class="fight-sound" src="audio/fight_sounds/block_L_04.wav" muted={{isMuted}}></audio>

	<audio id="win" src="audio/win.mp3" muted={{isMuted}}></audio>
	<audio id="lose" src="audio/lose.mp3" muted={{isMuted}}></audio>
	<audio id="fight-music" src="audio/guile.mp3" loop muted={{isMuted}}></audio>
</template>