<template name="gameUI">
	<div>
		<div id="graphics-area">
			<div id="name-row" class="row">
				<div class="small-6 columns"><h5>{{currentUser.profile.name}}</h5></div>
				<div class="small-6 columns text-right"><h5>{{opponentName}}</h5></div>
			</div>
			<div id="health-bars" class="row small-collapse">
				<div id="left-bar" class="small-6 columns">
					<div class="health-bar-base"></div>
					<div class="health-bar-remaining" style="width:{{selfHealthPct}}"></div>
				</div>
				<div id="right-bar" class="small-6 columns">
					<div class="health-bar-base"></div>
					<div class="health-bar-remaining" style="width:{{opponentHealthPct}}"></div>
				</div>
			</div>
		</div>

		{{#if isGameOver}}
			{{#if isWinner}}
				<h1 id="game-over-msg">YOU WIN! {{opponentName}} LOSES!</h1>
			{{else}}
				{{#if isLoser}}
					<h1 id="game-over-msg">YOU LOSE! {{opponentName}} WINS!</h1>
				{{/if}}
			{{/if}}
		{{else}}
			<div id="challenge-area">
				<p id="challenge-text"><span id="challenge-history">{{{challengeHistory}}}</span><span id="challenge-current">{{challengeCurrent}}</span><span id="challenge-future">{{challengeFuture}}</span>
				</p>
			</div>
		{{/if}}

		<h3>Time Elapsed: {{timer}}</h3>
		{{#if isGameOver}}
			<h3 id="accuracy">Accuracy: {{accuracy}}</h3>
			<h3 id="wpm">Words Per Minute: {{wpm}}</h3>
			<button id="leave-game-button">Back to Lobby</button>
		{{/if}}

	</div>

	<audio class="fight-sound" src="audio/fight_sounds/punch_M_10.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/punch_l_05.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/punch_h_05.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/psh3.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/psh2.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/psh1.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/kick_M_05.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/kick_H_09.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/kick_H_08.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/indy_hit1.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/foot_swing_06.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/fist_swing_10.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/fist_swing_07.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/fall2.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/fall1.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/block_L_05.wav"></audio>
	<audio class="fight-sound" src="audio/fight_sounds/block_L_04.wav"></audio>
</template>