<template name="sidebar">
	<div class="small-3 columns sidebar">
		<ul class="side-nav">
			{{#if currentUser}}
				<li><h3>Logged in as</h3></li>
			{{/if}}
			<li>{{> loginButtons}}</li>

			{{#if currentUser}}
				<li class="divider"></li>
				<li>
					<h3>Sound</h3>
				</li>
				<li>
					{{#if soundSetting}}ON{{else}}OFF{{/if}}
					<div class="switch radius">
						<input id="soundToggle" type="checkbox" checked="{{soundSetting}}">
						<label for="soundToggle"></label>
					</div>
				</li>
			{{/if}}
			
			{{#if isAnyoneOnline}}
				<li class="divider"></li>
				<li>{{> userList}}</li>
			{{/if}}
		</ul>
	</div>
</template>